*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: auto;
  background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.3)), url("3.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
h1,h2,h3,p,ul,li,a,button{
  color: white;
}
li,a{
  text-decoration: none;
}
header{
  width: 100%;
}
.hero-heading{
 margin: 5rem;
}
.heading-class h1{
  font-weight: bold;
  font-size: 3rem;
}
section .hero-div{
  box-shadow: 0 0.4rem 1.2rem rgba(0,0,0, 0.1);
  background: rgb(77,48,159);
background: linear-gradient(90deg, rgba(77,48,159,1) 1%, rgba(113,113,210,1) 59%, rgba(0,212,255,1) 100%);
  padding: 2rem;
  border-radius: 3rem;
}
.meta-space .font-br{
  font-size: 5rem;
 }
.heading{
   background: -webkit-linear-gradient(purple, white);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
 }
.meta-space .row-divi{
  margin-top: 4rem;
}
section .text-box{
  box-shadow: 0 0.4rem 1.2rem rgba(0,0,0, 0.1);
  padding: 1.2rem;
  background: rgb(77,48,159);
background: linear-gradient(90deg, rgba(77,48,159,1) 1%, rgba(113,113,210,1) 59%, rgba(0,212,255,1) 100%);
border-radius: 2rem;
}
footer{
  background-color: black;
  padding: 2rem;
}